// 背景颜色
$bgColor = #00bcd4;
$baseBgColor = #eee;

// 行高
$bigLineHeight = 1.8em;
$midLineHeight = 1.6em;
$smallLineHeight = 1.4em;

// 高
$smallHeight = .6rem;
$midHeight = .8rem;
$bigHeight = 1rem;

// 字体大小
$smallFontSize = .25rem;
$midFontSize = .3rem;
$bigFontSize = .4rem;

// padding
$basePdl = .2rem